*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.links {
    grid-column: 1;
    grid-row: 1;
    background-color: blueviolet;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: minmax(1rem, 1fr);
    align-content: center;
    gap: 0.5rem;
}