// .container {
//   font-size: 0.7rem;
 
// }

// img {
//   width: 100%;
//   // border: solid 3px rgb(15, 15, 15);
// }

// img:hover {
//   border-color: yellowgreen;
// }

// .image {
//   height: fit-content;
// }